.mainContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}

.dropdownContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .dropdownItem {
    flex-basis: 25%; /* Adjust this value to control the width of each dropdown */
    padding: 10px;
    box-sizing: border-box;
  }

  .errorMessage{
    text-align: center;
    color: red;
}
 